/* ここから勉強したCSSを記述する */
/* loader1 */
#loader {
  display: flex;
  flex-wrap: wrap; /* 子要素を折り返す */
  margin: 30px;
  gap: 30px;
}
.frame {
  width: 100px;
  height: 100px;
  border: 2px solid #0463ca;
  border-radius: 8px;
  /* display + justify-content: 子要素の水平方向を中心にする */
  display: flex;
  justify-content: center;
  /* display + align-items: 子要素の垂直方向を中心にする */
  align-items: center;
}
.loader1 {
  width: 50px;
  height: 50px;
  /* background-color: #121212; */
  border-radius: 50%;
  border: 8px solid;
  border-color: #b0d6f5;
  border-right-color: #0463ca;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
/* loader2 */
.loader2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #b0d6f5;
  border-right-color: #0463ca;
  border-left-color: #0463ca;
  animation: s2 1s infinite linear;
}
/* loader3 */
.loader3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #0463ca);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s2 1s infinite linear;
}
/* loader4 */
.loader4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #0463ca, 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 10%, #0463ca);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s2 1s infinite linear;
}
/* loader5 */
.loader5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #0463ca, 95%, #0000) 50% 0/12px
      12px no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 5px),
        #0463ca calc(100% - 4px)
      )
      content-box;
  animation: s2 1s infinite linear;
}
/* loader6 */
.loader6 {
  width: 50px;
  height: 50px;
  background: radial-gradient(farthest-side, #0463ca, 95%, #0000) top/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) bottom/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) left/12px 12px no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) right/12px 12px
      no-repeat;
  animation: s2 1s infinite linear;
}
/* loader7 */
.loader7 {
  width: 50px;
  height: 50px;
  background: radial-gradient(farthest-side, #0463ca, 95%, #0000) top/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) bottom/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) left/12px 12px no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) right/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0463ca, 95%, #0000) 50% 50%/12px 12px
      no-repeat,
    linear-gradient(#0463ca 0 0) 50% 50%/4px 96% no-repeat,
    linear-gradient(#0463ca 0 0) 50% 50%/96% 4px no-repeat;
  animation: s2 1s infinite linear;
}
/* loader8 */
.loader8 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #0463ca, 95%, #0000) top/12px 12px
      no-repeat,
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 13px),
      #b0d6f5 calc(100% - 12px)
    );
  animation: s2 1s infinite linear;
}
/* loader9 */
.loader9 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #0463ca;
  background: radial-gradient(
      farthest-side,
      #0000 calc(100% - 6px),
      currentColor calc(100% - 5px)
    ),
    radial-gradient(circle 6px, currentColor 95%, #0000 0),
    linear-gradient(currentColor 0 0) center/4px 96% no-repeat,
    linear-gradient(currentColor 0 0) center/96% 4px no-repeat;
  position: relative;
  animation: s2 1s infinite linear;
}
.loader9::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
/* loader10 */
.loader10 {
  width: 50px;
  height: 50px;
  display: grid;
}
.loader10::before,
.loader10::after {
  content: "";
  grid-area: 1/1;
  color: #0463ca;
  --c: radial-gradient(farthest-side, currentColor, 95%, #0000);
  background: var(--c) top, var(--c) bottom, var(--c) left, var(--c) right;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s3 1s infinite;
}
.loader10::before {
  margin: 4px;
  /* filter: hue-rotate(45deg); */ /* 色相を回転させる */
  color: #09b1ec;
  background-size: 8px 8px;
  animation-timing-function: linear;
}
@keyframes s3 {
  100% {
    transform: rotate(0.5turn);
  }
}
/* loader11 */
.loader11 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 6px;
  background: conic-gradient(from 135deg at top, #0463ca 90deg, #0000 0deg) 0
      calc(50% - 4px) / 17px 8.5px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 6px),
        #0463ca calc(100% - 5px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 6px),
        #0463ca calc(100% - 5px) 99%,
        #0000
      )
      bottom/ 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: s2 1s infinite linear;
}
